@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.about {
  background: #e6f1f4;
  padding-top: 10vh;
}

.About-flex {
  padding: 2vh;
  flex-wrap: wrap;
}

.About-flex .container {
  overflow: hidden;
  color: #202124;
  position: relative;
  width: 100vh;
  margin: 0 !important;
}

.about h1 {
  font-size: 60px;
}

.about-flex .container1 h1 {
  font-size: 50px;
}
