@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.container {
  padding-top: 10;
}
.Home {
  background: linear-gradient(250deg, #86e7cf 0%, #ffffff 50%);
}
.Home-box .Home {
  padding-top: 60px;
}
.Home-flex {
  padding: 2vh;
  flex-wrap: wrap;
}

.Home-flex .container {
  overflow: hidden;
  color: #202124;
  position: relative;
  width: 100vh;
  margin: 0 !important;
}

.Home-flex .container1 {
  margin-left: 2.8rem !important;
}

.Home-flex .container1 h1 {
  font-size: 80px;
}
.Home-flex .container1 p {
  font-size: 20px;
  font-weight: 300;
}
.home-sign-up .btn1 {
  background-color: #17bdc6;
}
.home-sign-up .btn2 {
  color: #8e8e8e;
}

.Home-works h1 {
  font-size: 50px;
  font-weight: 1000;
}

.Home-works {
  padding: 2vh;
  flex-wrap: wrap;
}

.Home-works .container {
  overflow: hidden;
  color: #202124;
  position: relative;
  width: 100vh;
  margin: 0 !important;
}

.Home-works .content {
  height: 50vh;
  border-radius: 3rem;
  background-color: #86e7cf;
}

.Home-works .container2 p {
  font-size: 20px;
  font-weight: 300;
}
