/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.Login-box {
}

.Login-flex {
  background: linear-gradient(250deg, #86e7cf 0%, #ffffff 80%);
  flex-wrap: wrap;
  position: absolute;
  height: 80% !important;
  width: 100% !important;
}

.Login-flex .container {
  margin-left: 38rem;
}

.Form-flex {
  position: absolute;
  left: 20rem;
  top: 4rem;
}

.Form-flex h1 {
  font-size: 50px;
}

.Form-flex .container {
  background-color: white;
  margin: 0 !important;
  width: 65vh;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
form .form-control {
  background-color: white;
  border-radius: 10px;
}

.sign-in .sign-btn {
  background-color: #6a6a6a;
  color: white;
  border-radius: 10px;
  width: 100%;
}

.sign-in .btn2 {
  background-color: #c4c4c4;
  border-radius: 10px;
  color: black;
}

.sign-in {
  flex-wrap: wrap;
}

.sign-up-container {
  overflow: hidden;
  position: relative;
}

.sign-up-container .btn {
  border-radius: 10px;
  color: white;
  background-color: #b2b2b2;
}

.forgot a {
  text-decoration: none;
} */
