@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.testimonials-box {
  background-color: #158f96 !important;
  padding: 5rem;
}

.testimonials h1 {
  color: white;
  font-size: 55px;
}

.card {
  width: 80vh;
  margin-bottom: 5rem !important;
}

.card img {
  width: 20vh;
}

.card h5 {
  font-size: 25px;
}

.card h6 {
  font-size: 18px;
}

.card-text {
  font-size: 18px;
  width: 68vh;
  margin: auto;
}

.carousel {
  width: 80vh;
  margin: auto;
}
.developer {
  flex-wrap: wrap;
}
.developer .container {
  overflow: hidden;
  position: relative;
}
