@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.user {
  background: linear-gradient(250deg, #86e7cf 0%, #ffffff 60%);
  font-size: 100px;
}

.user-box .user {
  padding-top: 60px;
}
.user-flex {
  padding: 2vh;
  flex-wrap: wrap;
}

.user-flex .container {
  overflow: hidden;
  color: #202124;
  position: relative;
  width: 100vh;
  margin: 0 !important;
}

.user-flex .container1 {
  margin-left: 2.8rem !important;
}

.user-flex .container1 h1 {
  font-size: 80px;
}
.user-flex .container1 p {
  font-size: 20px;
  font-weight: 300;
}

.user-sign-up .btn1 {
  background-color: #17bdc6;
}
.user-sign-up .btn2 {
  color: #8e8e8e;
}
