@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.footer-container {
  bottom: 0.05rem;
  position: fixed !important;
  width: 100%;
}

.chat-box {
  background-color: white;
}

.status {
  width: 1.5vh;
}
ul li a {
  text-decoration: none;
}

ul li img {
  width: 1rem;
  margin-right: 0.2rem;
}

.contacts {
  width: 100% !important;
  overflow: auto;
}

.message {
  height: 10rem;
}

.chat .send {
  background-color: white;
}
