.container-fluid .logo {
  color: black;
  text-decoration: none;
}

.navbar-bg {
  background-color: #c7f7eb;
}

.navbar .logo {
  margin-left: 4.2rem !important;
  font-size: 20px;
}

ul .comp a {
  margin-right: 50px;
}

ul li a {
  color: black !important;
  font-weight: bold;
}

.btn-dark {
  border-radius: 20px;
  background-color: #17bdc6 !important;
  font-weight: normal;
  color: white !important;
}
