@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar-bg {
  background-color: #c7f7eb;
}

.navbar .logo {
  margin-left: 4.2rem !important;
  font-size: 20px;
}

ul .comp a {
  margin-right: 50px;
}

ul li a {
  color: black !important;
  font-weight: bold;
}

.btn-dark {
  border-radius: 20px;
  background-color: #17bdc6 !important;
  font-weight: normal;
  color: white !important;
}

.dropdown-menu {
  width: 1rem !important;
}

li .user-name {
  color: #158f96 !important;
}
li .user-profile {
  width: 3vh !important;
}

ul li .user {
}
