@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.Signup-box {
  padding: 60px;
}

.Signup {
  padding: 80px;
  margin-left: 100px;
  margin-right: 100px;
}

.Signup-container {
  background-color: #e0e0e0;
  border-radius: 50px;
  width: 100%;
  color: black;
}

.wrapper-flex {
  flex-wrap: wrap;
}

.wrapper-flex .container {
  overflow: hidden;
  position: relative;
  width: 80vh;
}

.wrapper-flex .con1 {
  margin: 0;
  background-color: #656565;
  border-radius: 50px;
}

form .form-control {
  background-color: #c4c4c4;
}

.sign-in .btn {
  background-color: #c4c4c4;
  color: black;
}

.sign-in .btn2 {
  background-color: #e0e0e0;
  color: black;
}
